.search-bar {
  background-color: #3951a7;
  box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
  border-radius: .6em;
  display: flex;
  padding: .5em;

  &__input {
    border: none;
    border-bottom-left-radius: 0.25em;
    border-top-left-radius: 0.25em;
    flex: 1 1 70%;
    font-size: 1.25em;
    line-height: 1.5;
    padding: .5em 1em;
    width: 70%;
  }

  &__btn {
    background-color: #ccf1ff;
    border: none;
    border-bottom-right-radius: 0.25em;
    border-top-right-radius: 0.25em;
    color: #3951a7;
    cursor: pointer;
    flex: 0 0 30%;
    font-size: 1.25em;
    width: 30%;

    &:hover, &:focus {
      background-color: #aadcff;
    }
  }
}