.app-nav {
    border-bottom: 1px solid #bbb;
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.app-nav__item {
    color: #3951a7;
    cursor: pointer;
    font-weight: 300;
    padding: 1em 0.5em;
    text-decoration: none;
}

.app-nav__item--brand {
    font-weight: 400;
}
