.booking {
  display: flex;
  flex-direction: column;

  &__message {
    padding: .5em 1em;
    margin-bottom: 1em;
    border: 1px solid limegreen;
    border-radius: .5em;
  }
}

.booking-dates {
  margin-bottom: 1em;
}