@import "../../vars";

.card-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 30%;
  margin-bottom: .5em;
}

@media (min-width: $sm-width) {
  .card-media {
    margin-right: 1em;
    margin-bottom: 0;
  }
}
