@import "../../vars";

.card {
    border-radius: .6em;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
    display: flex;
    margin-bottom: 1em;
    padding: 1em;

    &:hover,
    &:focus {
        box-shadow: 0 2px 3px rgba(34, 25, 25, 0.3);
    }

    &__image {
        width: 100%;
    }

    &__name {
        display: block;
        font-size: 1.5em;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: .5em;
        text-decoration: none;
    }

    &__description {
        margin-top: 0;
        margin-bottom: 1.5em;
    }

    &__link {
        background-color: #fff;
        color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: .5em;
        display: inline-block;
        padding: 0.5em 1.5em;
        text-decoration: none;

        &:hover, &:focus {
            background-color: $primary-color;
            color: #fff;
        }
    }
}

.card-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 30%;
    margin-right: 1em;
}

.card-content {
  flex-grow: 1;
}
